"*":
  "atom-beautify":
    general:
      _analyticsUserId: "ce4ae259-3f3b-4231-bad5-694340891a21"
  "atom-material-ui":
    colors: {}
    tabs: {}
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-pair":
    slack_url: "https://hooks.slack.com/services/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"
  "autocomplete-plus":
    confirmCompletion: "tab"
  "base16-syntax":
    scheme: "Paraiso"
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "wrap-guide"
      "package-js-generator"
      "flow"
      "linter-flow"
      "whitespace"
    ]
    projectHome: "/Users/victor/programming/projects"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Source Code Pro"
    fontSize: 12
    scrollPastEnd: true
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "bd851053-e9ce-cf01-78c0-9b735ea22060"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  linter:
    errorPanelHeight: 26
  "multi-wrap-guide":
    enabled: false
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".apib.gfm.html.markdown.source.text":
  editor:
    preferredLineLength: 80
  "multi-wrap-guide":
    columns: [
      80
    ]
".basic.html.text":
  editor:
    preferredLineLength: 80
  "multi-wrap-guide":
    columns: [
      80
    ]
".gfm.source":
  editor:
    preferredLineLength: 80
  "multi-wrap-guide":
    columns: [
      80
    ]
".js.jsx.source":
  editor:
    preferredLineLength: 80
  "multi-wrap-guide":
    columns: [
      80
    ]
".text.xml":
  editor:
    preferredLineLength: 80
  "multi-wrap-guide":
    columns: [
      80
    ]
